.titel {
   font-weight: 600;
   font-size: 24px;
   line-height: 1.4;
   color: #333333;
   text-transform: capitalize;
}

@media (max-width: 875px) {
   .titel {
      font-size: 20px;
   }
}