@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,600&display=swap");

body {
   font-family: "Inter", sans-serif;
   color: #637381;
   background-color: #FFFF;
   font-size: 16px;
   line-height: 1.5;
   font-weight: 500;
}

.wrapper {
   overflow: hidden;
   min-height: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
}

.wrapper > main {
   flex-grow: 1;
}

/* ============================ */
[class*="__container"] {
   max-width: 1200px;
   padding-right: 15px;
   padding-left: 15px;
   margin: 0 auto;
}

[class*="__container-big"] {
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.6;
   max-width: 1230px;
   padding-right: 15px;
   padding-left: 15px;
   margin: 0 auto;
   color: #9C9C9C;
}

/* ============================ */
.page__interior {}

.interior {}

.interior__container {
   padding-top: 50px;
   padding-bottom: 80px;
}

.interior__list {
   display: grid;
   gap: 30px;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);

}

.interior__item {
   position: relative;
}

.interior__item:first-child {
   grid-row: span 2;
}

.interior__img {
   position: relative;
   padding-bottom: 40.350877%;
   /* 230/570 */
}

.interior__opis {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 2;
   padding: 40px;
   display: flex;
   flex-direction: column;
   row-gap: 12px;
}

.interior__linck {
   font-weight: 600;
   align-self: flex-start;
   transition: all 0.3s;
}

.interior__sub-titel {
   font-weight: 600;
   font-size: 28px;
   line-height: 1.25;
   color: #212B36;
}

.interior__img_big {
   position: relative;
   padding-bottom: 85.964912%;
   /* 490/570 */
}

.interior__img img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

@media (max-width: 1080px) {
   .interior__list {
      gap: 20px;
   }

   .interior__opis {
      padding: 20px;
      row-gap: 12px;
   }

   .interior__sub-titel {
      max-width: 365px;
      font-size: 22px;
   }
}

@media (max-width: 870px) {
   .interior__list {
      gap: 15px;
   }

   .interior__opis {
      padding: 12px;
      row-gap: 12px;
   }

   .interior__sub-titel {
      font-size: 18px;
   }
}

@media (max-width: 767.98px) {
   .interior__list {
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(1, 1fr);
   }

   .interior__container {
      padding-top: 30px;
      padding-bottom: 30px;
   }
}

@media (any-hover: hover) {
   .interior__linck:hover {
      transform: scale(1.3);
      color: #212B36;
   }
}

/* =========================================================== */
.page__products {}

.products {
   background-color: #FAFAFA;
   padding-top: 120px;
   padding-bottom: 120px;
}

.products__container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 40px;
}

.products__hat-opis:not(:last-child) {
   margin-bottom: 70px;
}

.hat-opis__title {}

.hat-opis__text {}

/* ============================================ */
.products__body {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   gap: 30px;
   width: 100%;
   grid-auto-rows: 1fr;
}

.products__cards {}

.cards {
   display: grid;
   grid-auto-flow: row;
   grid-template: auto 1fr minmax(55px, auto) / 1fr;
   background: #FFFFFF;
   border: 1px solid #E7E7E7;
   border-radius: 8px;
   overflow: hidden;
   align-items: center;

}

.cards__img-link {
   position: relative;
   display: block;
   padding-bottom: 78.804348%;
   overflow: hidden;
}

.cards__img-link img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: all 0.3s;
}

.cards__opis {
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding: 25px;
}

.cards__titel-link {
   font-weight: 600;
   font-size: 20px;
   line-height: 1.3;
   color: #212B36;
}

.cards__text {}

.cards__info {
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   border-top: 1px solid #E7E7E7;
}

.cards__reinting {
   padding: 15px 25px;
}

.cards__rewers {
   transition: all 0.3s;
}

.cards__pay {
   border-left: 1px solid #E7E7E7;
   padding: 15px 20px;
   font-weight: 600;
   color: #212B36;

}

.reinting-simple {
   position: relative;
   font-size: 18px;
   display: inline-block;
}

.reinting-simple:not(:last-child) {
   margin-right: 7px;
}

/*★★★★★*/
.reinting-simple::before {
   content: "★★★★★";
   display: block;
}

.reinting-simple__items {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: row-reverse;
   overflow: hidden;
}

.reinting-simple__item {
   position: absolute;
   width: 0%;
   height: 0%;
   opacity: 0;
   visibility: hidden;
   top: 0;
   left: 0;
}

.reinting-simple__label {
   flex: 0 0 20%;
   height: 100%;
   cursor: pointer;
   color: #212B36;
}

.reinting-simple__label::before {
   content: "★";
   display: block;
   transition: color 0.3s ease 0s;

}

.sreinting-simple__item:checked,
.reinting-simple__item:checked ~ .reinting-simple__label {
   color: #FFA645;
}

@media (max-width: 1125px) {
   .products__body {
      gap: 15px;
   }

   .cards__reinting,
   .cards__pay,
   .cards__opis {
      padding: 15px;
   }
}

@media (max-width: 1005px) {
   .cards__pay {
      flex: 1 1 auto;
      text-align: center;
      padding: 10px;
   }

   .cards__reinting {
      padding: 10px 10px;
      flex: 1 1 80%;
      text-align: center;
   }

   .products__hat-opis:not(:last-child) {
      margin-bottom: 40px;
   }

   .products {
      background-color: #FAFAFA;
      padding-top: 70px;
      padding-bottom: 70px;
   }
}

@media (max-width: 767.98px) {
   .cards__titel-link {
      font-size: 18px;
   }

   .products__hat-opis:not(:last-child) {
      margin-bottom: 20px;
   }

   .products {
      background-color: #FAFAFA;
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .products__container {
      row-gap: 15px;
   }
}

.slider-products {
   background-color: #FFFFFF;
   border: 0.5px solid #E7E7E7;
   border-radius: 23px;
}

.slider-products__nav {
   display: flex;
   flex-wrap: wrap;
   gap: 11px;
   padding: 6px;
   flex: 0 1 84px;
}

.slider-products__arrou {
   width: 30px;
   height: 30px;
   align-items: center;
   display: flex;
   justify-content: center;
   border: 1px solid #E7E7E7;
   border-radius: 50%;
   transition: all 0.3s;
   position: relative;
}

.slider-products__arrou:last-child {
   transform: rotate(180deg);
}

@media (any-hover: hover) {
   .cards__img-link img:hover {
      transform: scale(1.1);
      transition: all 0.3s;
   }

   .cards__titel-link:hover,
   .cards__pay:hover {
      text-decoration: underline;
   }

   .cards__rewers:hover {
      color: #212B36;
   }

   .slider-products__arrou:hover::before {
      content: "";
      position: absolute;
      background: url(../img/sound/svg/arrow-with.svg) center no-repeat;
      top: 9px;
      left: 9px;
      width: 10px;
      height: 10px;
      display: inline-block;
      z-index: 5;
      transform: rotate(180deg);
   }

   .slider-products__arrou:hover img {
      display: none;
   }

   .slider-products__arrou:hover {
      background-color: #3056D3;
   }

   .reinting-simple__label:hover,
   .reinting-simple__label:hover ~ .reinting-simple__label,
   .reinting-simple__label:checked ~ .reinting-simple__label:hover {
      color: #ffef9f;
   }
}

/* ======================================================================= */

.gallery__hat-opis {}

.gallery__container {
   padding-top: 70px;
   padding-bottom: 70px;
}

.hat-opis {
   margin: 0 auto;

}

.hat-opis:not(:last-child) {
   margin-bottom: 70px;
}

.hat-opis__title {}

.hat-opis__text {}

.gallery__list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: 1fr;
   border: 1px solid #E7E7E7;
   border-radius: 10px;
}

.gallery__item {
   padding: 25px;
   border: 1px solid #E7E7E7;
}

.gallery__img-link {
   position: relative;
   display: block;
   padding-bottom: 76.470588%;
   overflow: hidden;
}

.gallery__img-link img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.3s;
}

.gallery__img-link:not(:last-child) {
   margin-bottom: 24px;
}

.gallery__opis {
   display: flex;
   flex-direction: column;
   gap: 10px;
   font-weight: 600;
   font-size: 20px;
   line-height: 1.3;
   color: #212B36;
}

.gallery__titel {
   font-size: 24px;
   line-height: 1.25;
}

.gallery__opis:not(:last-child) {
   margin-bottom: 3px;
}

@media (max-width: 945px) {
   .gallery__titel {
      font-size: 18px;
   }

   .gallery__opis {
      font-size: 16px;
   }

   .gallery__item {
      padding: 15px;
   }

   .gallery__img-link:not(:last-child) {
      margin-bottom: 15px;
   }

   .hat-opis:not(:last-child) {
      margin-bottom: 50px;
   }
}

@media (max-width: 900px) {
   .gallery__list {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
   }

}

@media (max-width: 767.98px) {
   .gallery__container {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .hat-opis:not(:last-child) {
      margin-bottom: 30px;
   }

   .gallery__list {
      gap: 15px;
      border: none;
      border-radius: 0px;
   }

   .gallery__item {
      padding: 0px;
      border: none;
   }
}

@media (any-hover: hover) {
   .gallery__img-link img:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
   }

   .gallery__rewers:hover,
   .gallery__pay:hover {
      text-decoration: underline;
   }
}

/* ====================================================collection-cloth===================================== */
.collection-cloth__container {
   padding-top: 120px;
   padding-bottom: 120px;
}

.collection-cloth__callery {}

.collection-cloth__body {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 30px;
   grid-auto-rows: 1fr;
}

.collection-cloth__card {
   display: grid;
   grid-auto-flow: row;
   grid-template: auto 1fr minmax(25px, auto) / 1fr;

}

.collection-cloth__img-link {
   position: relative;
   display: block;
   padding-bottom: 111.111111%;
   overflow: hidden;
}

.collection-cloth__img-link img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.3s;
}

.collection-cloth__img-link:not(:last-child) {
   margin-bottom: 20px;
}

.collection-cloth__titel-pay {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 10px;
}

.collection-cloth__titel-pay:not(:last-child) {
   margin-bottom: 4px;
}

.collection-cloth__titel {
   font-weight: 600;
   font-size: 20px;
   line-height: 1.3;
   color: #212B36;
}

.collection-cloth__pay {
   font-weight: 700;
   color: #3056D3;
   transition: all 0.3s;
}

.collection-cloth__description {
   transition: all 0.3s;
   display: inline-flex;
}

.collection-cloth__description:not(:last-child) {
   margin-bottom: 4px;
}

@media (max-width: 900px) {
   .collection-cloth__container {
      padding-top: 70px;
      padding-bottom: 70px;
   }

   .collection-cloth__body {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 15px;
   }
}

@media (max-width: 767.98px) {
   .collection-cloth__container {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .collection-cloth__img-link:not(:last-child) {
      margin-bottom: 15px;
   }
}

@media (any-hover: hover) {
   .collection-cloth__img-link:hover img {
      transform: scale(1.1);
      transition: transform 0.3s;
   }

   .collection-cloth__description:hover,
   .collection-cloth__pay:hover {
      text-decoration: underline;
      color: #212B36;
   }

}

/* ======================================================================= */

.prodducts-cloth__body {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-auto-rows: 1fr;
   gap: 30px;
}

.page__prodducts-cloth:not(:last-child) {
   margin-bottom: 120px;
}

.prodducts-cloth__item {
   display: grid;
   grid-auto-flow: row;
   grid-template: minmax(349px, auto) 1fr / 1fr;
   border: 1px solid #E7E7E7;
   border-radius: 8px;
   overflow: hidden;
}

.prodducts-cloth__wrap {
   position: relative;
   display: flex;
   flex-direction: column;
   flex: 0 1 80%;
}

.prodducts-cloth__item:nth-child(4n+1),
.prodducts-cloth__item:nth-child(4n+4) {
   grid-column: span 7;
}

.prodducts-cloth__item:nth-child(4n+2),
.prodducts-cloth__item:nth-child(4n+3) {
   grid-column: span 5;
}

.prodducts-cloth__img-link:nth-child(4n+1),
.prodducts-cloth__img-link:nth-child(4n+4) {
   padding-bottom: 52.245509%;
}

.prodducts-cloth__img-link:nth-child(4n+2),
.prodducts-cloth__img-link:nth-child(4n+3) {
   padding-bottom: 74.57265%;
}

.prodducts-cloth__img-link {
   position: relative;
   display: flex;
   flex-direction: column;
   height: 100%;
   overflow: hidden;

}

.prodducts-cloth__img-link img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.3s;
}

.prodducts-cloth__opis {
   display: grid;
   grid-auto-flow: row;
   grid-template: auto 1fr minmax(22px, auto) / 1fr;
   padding: 30px;
   gap: 10px;
}

.prodducts-cloth__discont {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 10px;
   font-weight: 600;
}

.prodducts-cloth__text {}

.prodducts-cloth__link {
   color: #3056D3;
   transition: all 0.3s;
}

.prodducts-cloth__titel {
   font-size: 28px;
   line-height: 1.25;
   color: #212B36;
}

.prodducts-cloth__price {
   font-size: 18px;
   line-height: 1.33;
   color: #212B36;

}

.prodducts-cloth__price span {
   color: #B1B4B7;
   text-decoration: line-through;
   text-decoration: none;
}

.prodducts-cloth__price span:not(:last-child) {
   margin-right: 10px;
}

.prodducts-cloth__pay {}

.prodducts-cloth__comunication {}

.comunication {
   position: absolute;
   display: flex;
   gap: 12px;
   padding: 30px;
   bottom: 0;
   left: 0;
}

.comunication__linck {
   display: flex;
   position: relative;
   padding: 18px;
   background-color: #fff;
   border-radius: 5px;
   transition: all 0.3s;
}

.comunication__linck img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 18px;
   height: 18px;
   transform: translate(-50%, -50%);
}

@media (max-width: 930px) {

   .prodducts-cloth__body {
      gap: 15px;
   }

   .prodducts-cloth__opis {
      padding: 15px;
   }

   .prodducts-cloth__titel {
      font-size: 22px;
   }

   .page__prodducts-cloth:not(:last-child) {
      margin-bottom: 50px;
   }
}

@media (max-width: 767.98px) {
   .prodducts-cloth__body {
      display: flex;
      flex-direction: column;
   }

   .prodducts-cloth__item {
      grid-template: none;
   }

   .prodducts-cloth__titel {
      font-size: 20px;
   }

   .comunication {
      gap: 10px;
      padding: 10px;
   }

   .comunication__linck {
      padding: 15px;
   }

   .page__prodducts-cloth:not(:last-child) {
      margin-bottom: 30px;
   }
}

@media (any-hover: hover) {
   .prodducts-cloth__img-link:hover img {
      transform: scale(1.1);
      transition: transform 0.3s;
   }

   .prodducts-cloth__pay:hover,
   .prodducts-cloth__titel:hover {
      text-decoration: underline;
   }

   .prodducts-cloth__link:hover {
      color: #212B36;
      text-decoration: underline;
   }

   .comunication__linck:hover {
      transform: scale(1.1);
      background-color: #b8b6b6;
   }
}

/* ================================================================ */

.page__category-cloth {}

.category-cloth {}

.page__category-cloth:not(:last-child) {
   margin-bottom: 120px;
}

.category-cloth__container {}

.category-cloth__wrap-titel {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
   grid-auto-flow: row;
}

.hat-opis_start {
   align-items: start;
   text-align: left;
}

.category-cloth__more {
   align-self: end;
   justify-self: end;
   font-weight: 600;
   color: #3056D3;
   padding: 8px 30px;
   border: 1px solid #3056D3;
   border-radius: 4px;
   transition: all 0.3s;
}

.category-cloth__wrap-titel:not(:last-child) {
   margin-bottom: 70px;
}

.category-cloth__hat-opis:not(:last-child) {
   margin-bottom: 0;
}

.category-cloth__body {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: 1fr;
   gap: 30px;
}

.category-cloth__card {
   border: 1px solid #E7E7E7;
   border-radius: 12px;
   padding: 12px;
   display: grid;
   grid-auto-flow: row;
   grid-template: auto minmax(22px, auto) 1fr / 1fr;
}

.category-cloth__img-link {
   position: relative;
   display: block;
   padding-bottom: 66.473988%;
   /* 230/346 */
   overflow: hidden;

}

.category-cloth__img-link:not(:last-child) {
   margin-bottom: 25px;
}

.category-cloth__img-link img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.3s;
}

.category-cloth__further {
   display: inline-flex;
   transition: transform 0.3s;
   color: #637381;
   justify-self: flex-start;
}

.category-cloth__further:not(:last-child) {
   margin-bottom: 5px;
}

.category-cloth__titel {
   font-size: 24px;
   line-height: 1.25;
   color: #212B36;
}

.category-cloth__titel:not(:last-child) {
   margin-bottom: 15px;
}

@media (max-width: 930px) {
   .page__category-cloth:not(:last-child) {
      margin-bottom: 50px;
   }

   .category-cloth__wrap-titel:not(:last-child) {
      margin-bottom: 30px;
   }

   .category-cloth__body {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 15px;
   }

   .category-cloth__titel {
      font-size: 20px;
   }
}

@media (max-width: 767.98px) {
   .page__category-cloth:not(:last-child) {
      margin-bottom: 30px;
   }

   .category-cloth__img-link:not(:last-child) {
      margin-bottom: 15px;
   }

   .category-cloth__card {
      padding: 7px;
   }

   .category-cloth__wrap-titel {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-auto-flow: row;
      gap: 15px;
   }
}

@media (any-hover: hover) {
   .category-cloth__img-link:hover img {
      transform: scale(1.1);
      transition: transform 0.3s;
   }

   .category-cloth__more:hover {
      background-color: #3056D3;
      color: #fff;
   }

   .category-cloth__further:hover {
      transform: scale(1.1);
   }
}

/* ==================================================================== */

.page__top-cloth {}

.top-cloth {
   padding-bottom: 120px;
}

.top-cloth__container {}

.top-cloth__body {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-auto-rows: 1fr;
   gap: 30px;
   text-align: center;
}

.top-cloth__card {
   display: grid;
   grid-auto-flow: row;
   grid-template: auto 1fr auto minmax(36px, auto) / 1fr;
   font-weight: 600;
   color: #212B36;
   gap: 5px;
}

.top-cloth__img-link {
   position: relative;
   display: block;
   padding-bottom: 92.592593%;
   /* 250/270 */
   overflow: hidden;
}

.top-cloth__img-link img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.3s;
}

.top-cloth__titel {
   font-size: 20px;
   line-height: 1.3;
}

.top-cloth__further span {
   text-decoration: line-through;
   color: #637381;
}

.top-cloth__further:not(:last-child) span {
   margin-right: 8px;
}

.top-cloth__img-link:not(:last-child),
.top-cloth__further:not(:last-child) {
   margin-bottom: 15px;
}

.top-cloth__button {
   display: inline-block;
   font-weight: 600;
   font-size: 14px;
   line-height: 1.43;
   padding: 8px 20px;
   border: 1px solid #212B36;
   border-radius: 4px;
   justify-self: center;
   transition: all 0.3s;
}

@media (max-width: 930px) {
   .top-cloth__body {
      gap: 20px;
   }

   .top-cloth {
      padding-bottom: 50px;
   }
}

@media (max-width: 767.98px) {

   .top-cloth__further:not(:last-child),
   .top-cloth__img-link:not(:last-child) {
      margin-bottom: 10px;
   }

   .top-cloth__titel {
      font-size: 18px;
   }

   .top-cloth {
      padding-bottom: 30px;
   }
}

@media (any-hover: hover) {
   .top-cloth__img-link:hover img {
      transform: scale(1.1);
      transition: transform 0.3s;
   }

   .top-cloth__button:hover {
      background-color: #212B36;
      color: #fff;
   }
}

/* =============================================NEXT=============================== */


.page__dananz {}

.dananz {
   padding-bottom: 100px;
}

.dananz__container-big {}

.dananz__opis {
   padding-bottom: 80px;
}

.dananz__column {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-auto-rows: 1fr;
   gap: 30px;
}

.dananz__row {
   display: grid;
   grid-auto-flow: row;
   grid-template: auto 1fr / 1fr;
   gap: 24px;
}

.dananz__titel {
   font-weight: 600;
   font-size: 24px;
   line-height: 1.4;
   color: #333333;
}

.dananz__text {
   display: grid;
   gap: 30px;
}

.dananz__data-autor {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   justify-content: space-between;
}

.dananz__data {}

.dananz__autor {
   transition: all 0.3s;
}

@media (max-width: 910px) {
   .dananz {
      padding-bottom: 50px;
   }

   .dananz__opis {
      padding-bottom: 50px;
   }

   .dananz__column {
      grid-template-columns: 1fr;
      gap: 15px;
   }

   .dananz__row {
      grid-template: auto auto / 1fr;
   }

   .dananz__text,
   .dananz__row {
      gap: 15px;
   }
}

@media (max-width: 767.98px) {
   .dananz__opis {
      padding-bottom: 30px;
   }

   .dananz__titel {
      font-size: 18px;
   }
}

.dananz__gallery {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 32px;
}

.dananz__img {
   position: relative;
   display: block;
   overflow: hidden;
   padding-bottom: 87.842466%;
   /* 513/584 */
}

.dananz__img img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: transform 0.3s;
}

.dananz__img:nth-child(3n+3) {
   padding-bottom: 42.75%;
   /* 513/1200 */
   grid-column: span 2;
}

@media (max-width: 910px) {
   .dananz__gallery {
      gap: 15px;
   }
}

@media (max-width: 767.98px) {
   [class*="__container-big"] {
      font-size: 16px;
   }

   .dananz {
      padding-bottom: 30px;
   }
}

@media (max-width: 660px) {
   .dananz__gallery {
      grid-template-columns: 1fr;
   }

   .dananz__img:nth-child(3n+3) {
      padding-bottom: 87.842466%;
      /* 513/1200 */
      grid-column: auto;
   }
}

@media (any-hover: hover) {
   .dananz__img:hover img {
      transform: scale(1.1);
      transition: transform 0.3s;
   }

   .dananz__autor:hover {
      text-decoration: underline;
      color: #333333;
   }
}

